name: Deploy Guestbook to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Get Guestbook
        run: |
          wget https://github.com/jason-s13r/guestbook-playground/archive/refs/heads/main.zip
          unzip main.zip -d .
          # rm ./src/submissions/*
          mv ./entries/* ./src/submissions/
          cd ./src

          echo "" > ./submissions/index.html
          while IFS= read -r fname; do
            echo "<include src=\"${fname}\"></include>" >> ./submissions/index.html
            echo "------------------------------" >> ./submissions/index.html
          done < <(find ./submissions -type f | sort -r)
          cd ..
          cwd
          tree -L 3
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      - name: Build parcel
        run: npm run build -- --dist-dir public --public-url "${{ steps.pages.outputs.base_url }}/" --detailed-report
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4