name: Deploy Guestbook to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  SUBMISSION_API: ${{ vars.SUBMISSION_API }}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Get Guestbook
        run: |
          wget https://github.com/jason-s13r/guestbook-playground/archive/refs/heads/main.zip
          unzip main.zip
          mv ./guestbook-playground-main/* .
          mv ./guestbook-playground-main/.parcelrc .
          mv ./guestbook-playground-main/.posthtmlrc .
          # rm ./src/submissions/*
          mv ./entries/* ./src/submissions/

          rm ./src/submissions/index.html
          echo "" > ./entries.html
          while IFS= read -r fname; do
            echo "<include src=\"${fname}\"></include>" >> ./entries.html
            echo "------------------------------" >> ./entries.html
          done < <(find ./src/submissions -type f | sort -r | sed 's|src/||g')
          mv ./entries.html ./src/submissions/index.html
          tree -L 3
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      - name: Build parcel
        run: SUBMISSION_API={{env.SUBMISSION_API}} npm run build -- --dist-dir public --detailed-report
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
